---
layout: default
---

<div class="page">
  {% if page.aula == true %}
    <h1 class="page-title">Aula {{page.post_index}} - {{ page.title }}</h1>
  {% else %}
    <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  <a style="font-size: 0.8rem;" href="{{ site.baseurl }}/#lista-de-aulas">Voltar à página principal</a>

  {{ content }}
</div>

<div class="pagination">
  {% assign aulas = site.pages | where: "aula", true | sort: "post_index" %}
  
  {% for aula in aulas %}
    <!-- Página anterior -->
    {% if aula.post_index == page.post_index and forloop.first == false %}
      {% assign older_index = forloop.index0 | minus: 1 %}
      <a class="pagination-item older" href="{{ aulas[older_index].url | relative_url }}">Aula anterior</a>
    {% elsif aula.post_index == page.post_index and forloop.first == true %}
      <span class="pagination-item older">Aula anterior</span>
    {% endif %}

    <!-- Próxima página -->
    {% if aula.post_index == page.post_index and forloop.last == false %}
      {% assign newer_index = forloop.index0 | plus: 1 %}
      <a class="pagination-item newer" href="{{ aulas[newer_index].url | relative_url }}">Próxima aula</a>
    {% elsif aula.post_index == page.post_index and forloop.last == true %}
      <span class="pagination-item newer">Próxima aula</span>
    {% endif %}
  {% endfor %}
  
</div>
